
#btn-group {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

div#unregister {
  border-color: #49B4DC;
  width: 130px;
  margin: 4px;
}

div#unregister:hover {
  background-color: #FFFFFF;
}

div#unregister:active {
  background-color: #C3E6F3;
}

div#register {
  border-color: #49B4DC;
  width: 130px;
  margin: 4px;
}

div#register:hover {
  background-color: #FFFFFF;
}

div#register:active {
  background-color: #C3E6F3;
}
